#{{#apiInfo}}{{title}}

{{description}}

Terms of Service: [{{termsOfServiceUrl}}]({{termsOfServiceUrl}})

Contact: [{{contact}}](mailto:{{contact}})

License: [{{license}}]({{licenseUrl}})

{{/apiInfo}}

BasePath: {{basePath}}

Api Version: {{apiVersion}}

## APIs
{{#apiDocuments}}
### {{resourcePath}}
{{#description}}
#### Overview
{{{description}}}
{{/description}}

{{#apis}}
{{#operations}}
#### **{{httpMethod}}** `{{path}}`
##### {{nickname}}

{{summary}}
{{{notes}}}

###### URL
{{url}}
###### Parameters
{{#parameters}}
- {{paramType}}

<table border="1">
    <tr>
        <th>Parameter</th>
        <th>Required</th>
        <th>Description</th>
        <th>Data Type</th>
    </tr>
    {{#paras}}
    <tr>
        <th>{{name}}</th>
        <td>{{required}}</td>
        <td>{{description}}</td>
        <td>
            <a class="method-link" href="#{{rowType}}">
                {{rowType}}
            </a>
            {{#hasGenerics}}
                [
                {{#generics}}
                    <a href="#{{typeName}}">
                        {{typeName}}
                    </a>
                    {{#hasGenerics}}
                        [
                        {{#generics}}
                            <a href="#{{typeName}}">
                                {{typeName}}
                            </a>
                            {{^isLast}}
                                ,
                            {{/isLast}}
                        {{/generics}}
                        ]
                    {{/hasGenerics}}
                    {{^isLast}}
                        ,
                    {{/isLast}}
                {{/generics}}
                ]
            {{/hasGenerics}}
        </td>
    </tr>
    {{/paras}}
</table>
{{/parameters}}


###### Response body
<div>
{{#responseClass}}
    <a class="method-link" role="button"
       href="#{{typeName}}">{{typeName}}</a>
    {{#hasGenerics}}
        [
        {{#generics}}
            <a class="method-link" role="button"
               href="#{{typeName}}">{{typeName}}</a>
            {{#hasGenerics}}
                [
                {{#generics}}
                    <a class="method-link" role="button"
                       href="#{{typeName}}">{{typeName}}</a>
                    {{^isLast}}
                        ,
                    {{/isLast}}
                {{/generics}}
                ]
            {{/hasGenerics}}
            {{^isLast}}
                ,
            {{/isLast}}
        {{/generics}}
        ]
    {{/hasGenerics}}
{{/responseClass}}
</div>

###### Response status codes
<table border="0">
    <tr>
        <th>Status code</th>
        <th>Reason</th>
        <th>Response model</th>
    </tr>
{{#errorResponses}}
    <tr>
        <td>{{code}}</td>
        <td>{{message}}</td>
        <td>{{#linkType}}[{{type}}](#{{linkType}}){{/linkType}}{{^linkType}}{{#type}}{{{type}}}{{/type}}{{^type}}-{{/type}}{{/linkType}}</td>
    </tr>
{{/errorResponses}}
</table>

{{#samples}}
###### Samples
{{/samples}}
{{#samples}}
{{sampleDescription}}

- Sample Request

```
{{{sampleRequest}}}
```

- Sample Response

```
{{{sampleResponse}}}
```

{{/samples}}


- - -


{{/operations}}
{{/apis}}
{{/apiDocuments}}

## Data Types
{{#dataTypes}}


## <a name="{{name}}">{{name}}</a>

<table border="1">
    <tr>
        <th>name</th>
        <th>type</th>
        <th>required</th>
        <th>access</th>
        <th>description</th>
        <th>notes</th>
    </tr>
    {{#items}}
    <tr>
        <td>{{name}}</td>
        <td>{{#linkType}}<a href="#{{linkType}}">{{type}}</a>{{/linkType}}{{^linkType}}{{type}}{{/linkType}}</td>
        <td>{{#required}}required{{/required}}{{^required}}optional{{/required}}</td>
        <td>{{#access}}{{{access}}}{{/access}}{{^access}}-{{/access}}</td>
        <td>{{#description}}{{{description}}}{{/description}}{{^description}}-{{/description}}{{#allowableValue}} Allowable
        values:{{.}}{{/allowableValue}}</td>
        <td>{{#notes}}{{{notes}}}{{/notes}}{{^notes}}-{{/notes}}</td>
    </tr>
    {{/items}}
</table>

{{/dataTypes}}

{{#enumTypes}}
## {{name}}
{{#allowableValues}}
{{.}}
{{/allowableValues}}
{{/enumTypes}}
